<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.kaixugege.festec">
    <!--
            这两个添加是因为要解决某些库引用了Androidx ，这里要这么处理，要不回和support冲突报错
            tools:replace="android:appComponentFactory"
            android:appComponentFactory="whateverString"
    -->
    <application

            tools:replace="android:appComponentFactory"
            android:appComponentFactory="whateverString"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".MyApp"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ExampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>